<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Получить бесплатный VPN</title>
</head>
<body>
    <div class="head">
        <span class="head-text-vpn">VPN</span>
        <span class="head-text-gptalk">GpTalk</span>
    </div>
    <div class="body-text">
        <span class="captions">Твой VPN на все случаи жизни</span>
    </div>
    <div class="body-button">
        <a href="https://t.me/VPN_GPTalkBot?start=web">Получить VPN</a>
    </div>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>
